# This is an example file of the real and required
# credentials.env file
# Here you need to put your Goodread's API key and secret
GOODREADS_KEY=<GOODREADS_API_KEY_HERE>
GOODREADS_SECRET=<GOODREADS_SECRET_HERE>